<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhn.chat.chatwaveserver.chat.mapper.ChatListMapper">

    <resultMap id="BaseResultMap" type="com.xhn.chat.chatwaveserver.chat.model.ChatListEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="chatId" column="chat_id" jdbcType="BIGINT"/>
            <result property="chatType" column="chat_type" jdbcType="OTHER"/>
            <result property="lastMessage" column="last_message" jdbcType="VARCHAR"/>
            <result property="lastMessageTime" column="last_message_time" jdbcType="TIMESTAMP"/>
            <result property="unreadCount" column="unread_count" jdbcType="INTEGER"/>
            <result property="isPinned" column="is_pinned" jdbcType="TINYINT"/>
            <result property="isMuted" column="is_muted" jdbcType="TINYINT"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,chat_id,
        chat_type,last_message,last_message_time,
        unread_count,is_pinned,is_muted,
        created_at,updated_at
    </sql>
</mapper>
