<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhn.chat.chatwaveserver.user.mapper.FriendRequestsMapper">

    <resultMap id="BaseResultMap" type="com.xhn.chat.chatwaveserver.user.model.FriendRequestsEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="senderId" column="sender_id" jdbcType="BIGINT"/>
            <result property="receiverId" column="receiver_id" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sender_id,receiver_id,
        status,created_at
    </sql>
    <select id="getFriendRequestsByUserId"
            resultType="com.xhn.chat.chatwaveserver.user.model.model.FriendRequestModel">
        SELECT u.nickname,u.id AS userId,fr.status,fr.created_at
        FROM friend_requests fr
        LEFT JOIN ChatWave.users u on fr.sender_id = u.id
        WHERE receiver_id = #{userId}
        ORDER BY fr.created_at DESC
    </select>
</mapper>
