<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhn.chat.chatwaveserver.user.mapper.FriendsMapper">

    <resultMap id="BaseResultMap" type="com.xhn.chat.chatwaveserver.user.model.FriendsEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="friendId" column="friend_id" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,friend_id,
        status,created_at,updated_at
    </sql>
    <select id="getFriendsByUserId" resultType="com.xhn.chat.chatwaveserver.user.model.model.FriendListModel">
        SELECT u.nickname as title, u.avatar as prependAvatar,'在线' as subtitle,
               u.id as userId
        FROM friends
        LEFT JOIN users u on friends.friend_id = u.id
        WHERE user_id = #{userId}
    </select>
</mapper>
