<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhn.chat.chatwaveserver.user.mapper.UserStatusMapper">

    <resultMap id="BaseResultMap" type="com.xhn.chat.chatwaveserver.user.model.UserStatusEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="statusMessage" column="status_message" jdbcType="VARCHAR"/>
            <result property="lastActive" column="last_active" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,status_message,
        last_active
    </sql>
</mapper>
